<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sprint status</a>
    </div>
  </div>
  <ul class="nav navbar-nav">
    <li><a href="#">Sprint start date:</a></li>
    <li><a href="#">Sprint End date:</a></li>
    <li><a href="#">UAT start date:</a></li>
    <li><a href="#">UAT end date:</a></li>
    <li><a href="#">Prod deployment date:</a></li>
    <li><a href="#">Number of Stories:</a></li>
    <li><a href="#">Number of Story points:</a></li>
    <li><a href="#">Completed Story points:</a></li>
    <li><a href="#">Pending Story points:</a></li>
  </ul>
</nav>