<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sprint status</a>
    </div>
  </div>
  <ul class="nav navbar-nav">
    <li><a href="#">Sprint number:<b>{{sprint84.sprintNo}}</b></a></li>
    <li><a href="#">Sprint start date:<b>{{sprint84.sprintStartDate | date}}</b></a></li>
    <li><a href="#">Sprint End date:<b>{{sprint84.sprintEndDate | date}}</b></a></li>
    <li><a href="#">UAT start date:<b>{{sprint84.sprintUatStartDate | date}}</b></a></li>
    <li><a href="#">UAT end date:<b>{{sprint84.sprintUatEndDate | date}}</b></a></li>
    <li><a href="#">Prod deployment date:<b>{{sprint84.sprintNo}}</b></a></li>
    <li><a href="#">Number of Stories:<b>{{sprint84.sprintNo}}</b></a></li>
    <li><a href="#">Number of Story points:<b>{{sprint84.sprintNo}}</b></a></li>
    <li><a href="#">Completed Story points:<b>{{sprint84.sprintNo}}</b></a></li>
    <li><a href="#">Pending Story points:<b>{{sprint84.sprintNumberOfStoryPoints}}</b></a></li>
  </ul>
</nav>