<!-- <div class="container" style="border:1px solid #cecece;">
    
    <div class="row">
    <div class="col-md-1 col-sm-1"><b>Id</b></div>
    <div class="col-md-2 col-sm-1"><b>Description</b></div>
    <div class="col-md-2 col-sm-1"><b>Start date</b></div>
    <div class="col-md-2 col-sm-1"><b>End date</b></div>
    <div class="col-md-3 col-sm-3"><b>Status graph</b></div> -->
    <div class="col-md-1">{{completed.storyId}}</div>
    <div class="col-md-2">{{completed.storyDescription}}</div>
    <div class="col-md-2">{{completed.storyStartDate | date:'fullDate'}}</div>
    <div class="col-md-2">{{completed.storyEndDate | date:'fullDate'}}</div>
    <!-- <div class="col-md-2">{{completed.storyStartDate.getDate()}}-{{completed.storyStartDate.getMonth()}}-{{completed.storyStartDate.getFullYear()}}</div>
    <div class="col-md-2">{{completed.storyEndDate.getDate()}}-{{completed.storyEndDate.getMonth()}}-{{completed.storyEndDate.getFullYear()}}</div> -->
    <div style="display: block" class="col-md-3">
        <canvas baseChart
                [data]="data"
                [labels]="labels"
                [options]="options"
                chartType="horizontalBar"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"
                ></canvas>
      </div>
    <!-- </div> -->
<!-- </div> -->